@model Database_First_Approch_EF.Models.Employee_Details

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee_Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Emp_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emp_dept)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp_dept)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emp_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emp_salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp_salary)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Emp_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
